@import "./section.css";

.section {
  & .home-list {
    margin: 20px 70px;

    & li {
      margin-top: 18px;

      &:first-child {
        margin-top: 0;
      }

      & .del-btn {
        font-size: 14px;
        color: var(--red);
        margin-left: 20px;
      }
    }
  }
}