/* 项目比较小，偷懒把颜色表单和section样式都放在一起了。其实根本不强关联，好孩子一定不要学。*/

/* color */
:root {
  --red: #ae2033;
}

/* section */
.section {
  margin: 0 26px;
  background: #fff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, .2);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;

  & .section-header {
    padding: 20px 40px 15px 70px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 40px;
    color: var(--red);
    background-color: #f0f0f0;
    font-size: 16px;

    & .border-btn {
      float: right;
    }
  }

  & .border-btn {
    font-size: 12px;
    line-height: 18px;
    border: 1px solid var(--red);
    border-radius: 9px;
    padding: 0 4px;
    color: var(--red);
  }

  &.ppt {
    & .section-header {
      background-image: url(../images/icon-ppt.png);
    }
  }

  &.audio {
    & .section-header {
      background-image: url(../images/icon-audio.png);
    }
  }

  &.video {
    & .section-header {
      background-image: url(../images/icon-video.png);
    }
  }

  & .dt {
    line-height: 30px;
    background: #dcdcdc;
    padding-left: 30px;
    margin-top: 8px;

    & a {
      color: var(--red);
      margin-left: 16px;
      font-size: 12px;
    }
  }

  & .dd {
    background: #f0f0f0;
  }
}

/* form */
.form-item {
  margin-top: 20px;
}

.form-submit {
  display: block;
  color: #fff;
  width: 200px;
  line-height: 22px;
  background: var(--red);
  border-radius: 11px;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.form-input {
  height: 22px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 4px;
}